<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark" ng-class="{'expanded': isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
            	<button class="button button-icon button-clear ion-android-search" ng-if="$root.filterBar" menu-toggle ng-click="showFilterBar()"></button>
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="mainContent" ng-class="{'expanded': isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('images/logo_144.png'); background-size: cover;"></span>
            <h2>Ametrito</h2>
        </ion-header-bar>
		<ion-content class="stable-bg has-expanded-header">
			<ion-list>
				<ion-item nav-clear menu-close ui-sref="app.reports">
					Reportes
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/user-reports">
					Mis reportes
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.profile">
					Perfíl
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/help">
					Ayuda
				</ion-item>
			</ion-list>
		</ion-content>
		<div style="position: absolute; bottom: 0px; z-index: 20;" class="button-bar">
		   <a class="button button-assertive" ng-click="logout()">Cerrar Sesión</a>
		</div>
	</ion-side-menu>
</ion-side-menus>
