<ion-view view-title="Reportes" align-title="left">
	<ion-content>
		<div class="list reports-list animate-blinds">
			<!--a class="item item-avatar item-icon-right" ng-repeat="item in reports">
				<img src="data:image/png;base64,{{item.logo}}" ng-click="expandInfo()">
				<h2 ng-click="expandInfo()">{{item.estacion}}</h2>
				<p ng-click="expandInfo()"> 12 mins ago</p>
				<i class="icon ion-share muted" ng-click="actionSheet()"></i>
			</a-->

			<div class="item card-item card-item-report" ng-repeat="item in reports">
				<div ui-sref="app.report({ id:item._id })" ui-sref-opts="{ reload: true }" class="card stable-bg ink ink-dark card-report">
					<div class="item item-avatar item-text-wrap">
						<span class="avatar" style="background-image: url(data:image/png;base64,{{item.logo}});"></span>
						<strong>{{item.estacion}}</strong> <br>Línea {{item.linea}}
						<div class="card-footer text-right">
							<i class="icon ion-chatbubble positive"></i> {{item.comentarios[0]}}
							<div class="pull-left">
								<i class="icon ion-clock"></i> {{item.date | amCalendar}}
							</div>
						</div>
					</div>
				</div>
				<md-divider class="md-default-theme" ng-if="!$last"></md-divider>
			</div>

		</div>

		<ion-infinite-scroll on-infinite="loadMore()" ng-if="moreReportsCanBeLoaded" distance="1%" spinner="android">
		</ion-infinite-scroll>

		<script id="my-modal.html" type="text/ng-template">
			<ion-modal-view on-swipe-down="closeModal()">
				<ion-header-bar>
					<button class="button button-clear button-dark ink" ng-click="closeModal()"> Cerrar </button>
				</ion-header-bar>
				<ion-content>
					Hello!
				</ion-content>
			</ion-modal-view>
		</script>

	</ion-content>
	<div class="custom-layer-content">
		<h1>Hi!</h1>
	</div>
</ion-view>