<ion-view view-title="Reportes" align-title="left">
    <ion-content>
		<div class="list animate-blinds">
			<a class="item item-avatar item-icon-right" ng-repeat="item in reports">
				<img src="data:image/png;base64,{{item.logo}}" ng-click="expandInfo()">
				<h2 ng-click="expandInfo()">{{item.estacion}}</h2>
				<p ng-click="expandInfo()"> 12 mins ago</p>
				<i class="icon ion-share muted" ng-click="actionSheet()"></i>
			</a>

			<div class="list">

				<div class="item card-item">
	            	<div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
		                <div class="item item-avatar item-text-wrap">
		                    <span class="avatar" style="background-image: url('../images/crown.jpg');"></span>
		                    <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
		                    <div class="card-footer text-right">
		                        <i class="icon ion-chatbubble positive"></i> 2
		                        <i class="icon ion-heart assertive"></i> 4
		                        <div class="pull-left">
		                            <i class="icon ion-clock"></i> 12 mins ago
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>

			</div>


		</div>

		<ion-infinite-scroll
			on-infinite="loadMore()"
			ng-if="moreReportsCanBeLoaded"
			distance="1%"
			spinner="android"
			>
		</ion-infinite-scroll>

	    <script id="my-modal.html" type="text/ng-template">
	        <ion-modal-view on-drag-down="closeModal()">
	            <ion-header-bar>
	                <button class="button button-clear button-dark ink" ng-click="closeModal()"> Cerrar </button>
	            </ion-header-bar>
	            <ion-content>
	                Hello!
	            </ion-content>
	        </ion-modal-view>
	    </script>

    </ion-content>
</ion-view>

