/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../images/logo_144.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}


.md-whiteframe-z1 {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.082) !important;
}
.md-whiteframe-z2 {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.14), 0px 4px 5px 0px rgba(0, 0, 0, 0.098), 0px 1px 10px 0px rgba(0, 0, 0, 0.082) !important;
}
.md-whiteframe-z3 {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.082) !important;
}
.md-whiteframe-z4 {
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.14), 0px 8px 10px 1px rgba(0, 0, 0, 0.098), 0px 3px 14px 2px rgba(0, 0, 0, 0.082) !important;
}
.md-whiteframe-z5 {
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.14), 0px 16px 24px 2px rgba(0, 0, 0, 0.098), 0px 6px 30px 5px rgba(0, 0, 0, 0.082) !important;
}

.semitransparent {
    background: rgba(0, 0, 0, 0.8);
}

.action-sheet .button {
    color: #4A4A4A;
}

.user-photo-blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    filter: blur(4px);
    height:100%;
    width:100%;
}

.edit-photo-user {
    font-size: 25px;
    padding: 0px;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 47px;
    z-index: 3;
}

/*
 _______________________________________________________________
|
|
|
|
|_______________________________________________________________
 */


md-item-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-direction: row;
            flex-direction: row;
    box-sizing: border-box;
    position: relative;
    padding: 0px;
}

.md-tile-left {
    margin-right: 0px !important;
    padding-left: 24px;
    color: #ff7043;
    min-width: 56px;
}
md-item-content i {
    font-size: 24px;
}
.md-tile-content {
    -webkit-flex: 1 1 0%;
            flex: 1 1 0%;
    padding: 16px;
    text-overflow: ellipsis;
}
.md-tile-content h3 {
    display: block;
    margin: 0px 0px 3px;
    font-weight: 400;
    font-size: 1.1em;
}
.md-tile-content p {
    margin: 0px 0px 3px;
    font-size: 0.75em;
}
md-divider {
    display: block;
    border-top: 1px solid;
    border-top-color: rgba(0, 0, 0, 0.12);
    margin: 0px;
}

.card-report {
    background: transparent;
    box-shadow: none;
    margin: 0;
}

.card-item-report {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/*.fab-rotate {
    transition: all 0.5s ease-out 0s !important;
    transform-origin: 220% -350% 0px;
    transform: rotate(90deg) !important;
}*/

.fab-rotate {
    -webkit-animation: move 1s, bounce 1s, stay 5s;
            animation: move 1s, bounce 1s, stay 5s;
    -webkit-animation-delay: .3s, .3s, 1.3s;
            animation-delay: .3s, .3s, 1.3s;
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
}

.custom-layer {
    background: #E65100;
    border-radius: 50%;
    height: 56px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
    z-index: 1;

}

.super-scale {
     background: white;
     -webkit-transform: scale(100);
             transform: scale(100);
     transition:  2.25s all ease 1.3s;
     z-index: 3;
}

.icon-stable {
    position: relative;
    z-index: 2;
}

.icon-animation {
    opacity: 0;
    transition: .3s;
}

.overflow-hidden {
    overflow: hidden !important;
}

.custom-layer-content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}


@-webkit-keyframes move {
    100% {
        left: calc(50% - 28px);
    }
}


@keyframes move {
    100% {
        left: calc(50% - 28px);
    }
}

@-webkit-keyframes bounce {
    50% {
        top: calc(40% - 28px);
    }
    100% {
       top: calc(50% - 28px);
    }
}

@keyframes bounce {
    50% {
        top: calc(40% - 28px);
    }
    100% {
       top: calc(50% - 28px);
    }
}

@-webkit-keyframes stay {
    0%, 100% {
        left: calc(50% - 28px);
        top: calc(50% - 28px);
    }
}

@keyframes stay {
    0%, 100% {
        left: calc(50% - 28px);
        top: calc(50% - 28px);
    }
}