/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../images/logo_144.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}


.md-whiteframe-z1 {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.082);
}
.md-whiteframe-z2 {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.14), 0px 4px 5px 0px rgba(0, 0, 0, 0.098), 0px 1px 10px 0px rgba(0, 0, 0, 0.082);
}
.md-whiteframe-z3 {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.082);
}
.md-whiteframe-z4 {
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.14), 0px 8px 10px 1px rgba(0, 0, 0, 0.098), 0px 3px 14px 2px rgba(0, 0, 0, 0.082);
}
.md-whiteframe-z5 {
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.14), 0px 16px 24px 2px rgba(0, 0, 0, 0.098), 0px 6px 30px 5px rgba(0, 0, 0, 0.082);
}

.semitransparent {
    background: rgba(0, 0, 0, 0.8);
}

.action-sheet .button {
    color: #4A4A4A;
}

.user-photo-blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    filter: blur(4px);
    height:100%;
    width:100%;
}

.edit-photo-user {
    font-size: 25px;
    padding: 0px;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 47px;
    z-index: 3;
}

/*
 _______________________________________________________________
|
|
|
|
|_______________________________________________________________
 */

.button-wrapper {
    width: 50px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    right: 20px;
    bottom: 20px;
}

button {
    position: relative;
    z-index: 9;
}

.main-button {
    background: #ff2670;
    -webkit-align-self: flex-end;
            align-self: flex-end;
}

.ripple {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 50%;
    z-index: -9;
    background: transparent;
    border: 1px solid #ff2670;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    transition: .3s all ease;
    opacity: 1;
}

.rippling {
    -webkit-animation: .3s rippling 1;
    animation: .3s rippling 1;
    -moz-animation: .3s rippling 1;
}

@-webkit-keyframes rippling {

    25% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }

}

@keyframes rippling {

    25% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
                transform: scale(2);
        opacity: 0;
    }

}

.layer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #ff2670;
    border-radius: 50%;
    z-index: -99;
    pointer-events: none;
}

.button-wrapper.clicked {
    -webkit-transform: rotate(90deg) translateY(-96px);
    transform: rotate(90deg) translateY(-96px);
    right: 0;
    bottom: 0;
    transition: .3s all ease .6s;
}

.button-wrapper.clicked .main-button {
    opacity: 0;
    transition: .3s all ease .3s;
}

.button-wrapper.clicked .layer {
    -webkit-transform: scale(100);
    transform: scale(100);
    transition: 2.25s all ease .9s;
}

.layered-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    opacity: 0;
}

.layered-content.active {
    opacity: 1;
}

.close-button {
    background: white;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ff2670;
}

.layered-content.active .close-button {
    -webkit-animation: .5s bounceIn;
    animation: .5s bounceIn;
}

.layered-content .content img {
    width: 80px;
    -webkit-shape-outside: 80px;
    shape-outside: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    transition: .3s all ease;
}

.content p {
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.content p a {
    font-size: 12px;
    background: white;
    padding: 2.5px 5px;
    color: #ff2670;;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    margin-left: 1.5px;
}

.content img,
.content p {
    opacity: 0;
    position: relative;
    top: -7.5px;
}

.layered-content.active .content img {
    opacity: 1;
    top: 0;
    transition: .5s all ease .5s;
}

.layered-content.active .content p {
    opacity: 1;
    top: 0;
    transition: .5s all ease 1s;
}


md-item-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-direction: row;
            flex-direction: row;
    box-sizing: border-box;
    position: relative;
    padding: 0px;
}

.md-tile-left {
    margin-right: 0px !important;
    padding-left: 24px;
    color: #ff7043;
    min-width: 56px;
}
i {
    font-size: 24px;
}
.md-tile-content {
    -webkit-flex: 1 1 0%;
            flex: 1 1 0%;
    padding: 16px;
    text-overflow: ellipsis;
}
.md-tile-content h3 {
    display: block;
    margin: 0px 0px 3px;
    font-weight: 400;
    font-size: 1.1em;
}
.md-tile-content p {
    margin: 0px 0px 3px;
    font-size: 0.75em;
}
md-divider {
    display: block;
    border-top: 1px solid;
    border-top-color: rgba(0, 0, 0, 0.12);
    margin: 0px;
}