<ion-view view-title="Login" align-title="left">
    <ion-content class="login-content" style="background-image: url(images/metro_blur.jpg); background-size: cover; background-position: center;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon md-whiteframe-z2"></div>
                <h1>{{appName}} {{device}}</h1>
            </div>
        </div>
        <div class="padding">
            <button on-touch="authenticate('facebook')" class="button button-block button-border icon-left ion-social-facebook button-positive">Facebook Login</button>

            <button on-touch="authenticate('twitter')" class="button button-block button-border icon-left ion-social-twitter button-calm">Twitter Login</button>

            <button on-touch="shot()" class="button button-block button-border icon-left ion-social-google button-assertive">Google+ Login</button>
        </div>
        <img ng-src="{{photo}}" alt="">
        <div class="list">
            <ion-md-input placeholder="Username" hightlight-color="light" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" hightlight-color="positive" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button class="button button-full button-dark ink">Login</button>
        </div>

    </ion-content>
</ion-view>

