<ion-view view-title="Perfíl">
	<ion-content ng-class="{expanded:$scope.isExpanded}">
		<div class="hero slide-up" style="background-image: url({{user.avatar}});">
			<div class="hero user-photo-blur" style="background-image: url({{user.avatar}}); "></div>
			<button class="button button-icon button-clear ion-android-create edit-photo-user" data-ink-color="#ffffff" data-ink-opacity=".2"></button>
			<div class="content">
				<div class="avatar" style="background-image: url({{user.avatar}});"></div>
				<h3><a class="light">{{user.nombre}}</a></h3>
				<h4></h4>
			</div>
		</div>
		<div class="tabs tabs-dark tabs-icon-top static">
			<a ui-sref="app.user_reports" class="tab-item">
				<i class="icon ion-arrow-graph-up-right"></i> Reportes
			</a>
		</div>
		<div class="list animate-fade-slide-in-right">
			<md-item-content>
				<div class="md-tile-left">
					<i class="ion-android-mail"></i>
				</div>
				<div class="md-tile-content">
					<!--i class="ion-android-create" style="float:right;margin-right:18px;margin-top:8px;color:#aaa;"></i-->
					<h3 style="padding-top:8px;">{{user.email}}</h3>
					<p class="muted">
						E-mail
					</p>
				</div>
			</md-item-content>
			<div class="item item-toggle">
				Email público
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="publicEmail">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<md-divider class="md-default-theme"></md-divider>

		</div>
		<div class="padding">
			<button class="button button-block button-calm ink" style="background-color:#009688;">Guardar cambios</button>
		</div>
	</ion-content>
</ion-view>