<ion-view view-title="Reporte en {{estacion}}" align-title="left">
	<ion-content>
		<div class="list reports-list">

			<div class="item card-item" ng-repeat="coment in coments">
	            <div class="card stable-bg ink ink-dark">
	                <div class="item item-avatar item-text-wrap">
	                    <span class="avatar" style="background-image: url('http://img1.ak.crunchyroll.com/i/spire1/a3fc5d5b0633cdeefef6712b94f483861226931373_full.png');"></span>
	                    <strong>{{coment.user_name}} </strong> {{coment.comentario}}
	                    <a ng-if="coment.imagen" class="image"><img ng-src="{{coment.imagen}}"></a>
	                    <div class="card-footer text-right">
	                        <i class="icon ion-chatbubbles positive"></i>
	                        <div class="pull-left">
	                            <i class="icon ion-clock"></i> {{coment.date | amCalendar}}
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

		</div>
	</ion-content>
</ion-view>