<ion-view view-title="Reporte en {{estacion}}" align-title="left">
	<ion-content>
		<div class="list reports-list">

			<div class="item card-item card-item-report" ng-repeat="item in reports">
				<div ui-sref="app.report({ id:item._id })" ui-sref-opts="{ reload: true }" class="card stable-bg ink ink-dark card-report">
					<div class="item item-avatar item-text-wrap">
						<span class="avatar" style="background-image: url(data:image/png;base64,{{item.logo}});"></span>
						<strong>{{item.estacion}}</strong> <br>Línea {{item.linea}}
						<div class="card-footer text-right">
							<i class="icon ion-chatbubble positive"></i> {{item.comentarios[0]}}
							<div class="pull-left">
								<i class="icon ion-clock"></i> {{item.date | amCalendar}}
							</div>
						</div>
					</div>
				</div>
				<md-divider class="md-default-theme" ng-if="!$last"></md-divider>
			</div>

		</div>
	</ion-content>
</ion-view>